
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Open Sans", sans-serif}

/* Add a background color to the top navigation */
.topnav {
  background-color: #232323;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 150px;
  font-family: 'Open Sans', sans-serif;



}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #393939;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
}

.pageTitle {
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body {
  background-color: #DDDDDD;
}

input[type=password], select {
  width: 95%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  background-color: #CCCCCC;
  font-size: 40px;
	}

button[type=button], select {
  width: 40%;
  height: 100px;
  padding: 12px 20px;
  Margin: 10px 0;
  display: inline-block;
  border: 5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  background-color: #FFFFFF;



/* Fun with Collumns */
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
